html {
  width: 30rem;
  margin: 0 auto;
  padding: 2rem 3rem;
}

html * {
  margin: 0;
  padding: 0;
}

input,
textarea,
button {
  width: 100%;
  margin: 0.5rem 0;
  font: 2rem "Hiragino Mincho Pro", "新宋体", serif;
  border-radius: 0.5rem;
}

input {
  border: none;
  font-weight: bold;
  text-align: center;
}

textarea,
button {
  background: none;
  height: 70px;
  border: 1px dashed rgba(128, 128, 128, 0.2);
}

textarea {
  box-sizing: border-box;
  line-height: 2;
  padding-block-start: 0;
  padding-block-end: 0;
  white-space: pre;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  resize: none;
  overflow: hidden;
}

button,
::placeholder {
  color: rgba(128, 128, 128, 0.2);
}

button {
  cursor: pointer;
  font-size: 3rem;
}

button:hover {
  border-color: rgba(128, 128, 128, 1);
  color: rgba(128, 128, 128, 1);
}

@media screen and (max-width: 36rem) {
  html {
    width: auto;
  }
}